@import url('https://fonts.cdnfonts.com/css/grobold');

video {
	width: 100%;
	height: 0px;
}

img {
	height: 0px;
}

#facepalm {
	font-size: 1.25em;
}

#toolbar {
	height: 3rem;
	top: 0;
	position: fixed;
	z-index: 4;
	width: 100%;
	border-bottom: solid 1px #ca2100;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	background-color: rgb(33 108 210);
	border-color: #e3e3e3;
	border-bottom-color: rgb(229, 233, 235);
	padding-top: 10px;
	padding-bottom: 20px;
}

a {
	color: #BCE0FD;
	cursor: pointer;
}

.highlighted {
	background-color: #FFAB40;
}

.icon_logo {
	background: url(../images/logo.png) 0 0 no-repeat;
	margin-top: 0px;
	width: 8rem;
	height: 3.5rem;
}

.center {
	text-align: center;
}

.material-icons {
	font-size: 32px;
}

h1, h2, h3, h4, p {
	font-family: "Lexend", sans-serif;
	font-weight: bold;
	color: #E9E9E9;
}

h2 {
	font-size: 2em;
}

h4 {
	font-size: 3.75rem;
}

h5 {
	font-weight: bold;
}

.mdl-navigation__link {
	font-size: 1.25em;
}

.main_content p, ul {
	font-size: 1.5rem;
	font-weight: 300;
}

.main_content a {
	font-weight: 400;
}

.main_content ul {
	list-style-type: none;
}

.main_content li {
	margin: 1em;
	max-width: 80%;
}

#logo-image:hover {
	cursor: pointer;
}

body {
	margin: auto;
	margin-left: 0;
	color: #FFFFFF;
	background-color: #216cd2;
	font-family: "Lexend", Roboto, "Comic Sans MS", sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	padding: 0 !important;
	margin-bottom: 0 !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mdl-layout__content {
	width: 100%;
}

li {
	text-align: left;
}

#toolbar_inner {
	max-width: 90%;
	height: 100%;
}

#logo {
	float: left;
	margin-left: 20px;
	padding-top: 0px;
}

#content {
	max-width: 950px;
	min-height: 380px;
	margin-left: 0px;
	vertical-align: top;
	/* margin-left: 150px; */
	margin-top: 129px;
}

@media (max-width:950px) {
	#content {
		margin-left: 0px;
	}
}

@media (min-width:950px) {
	#content {
		width: 950px;
	}
}
